name: selendra_marketplace_app
description: A new Flutter application.

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter 
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
version: 2.6.18+6

environment:
  sdk: ">=2.7.0 <3.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter
  
  google_sign_in: ^4.5.1

  flutter_facebook_login: ^3.0.0
  
  firebase_auth: ^0.16.1
  
  flutter_facebook_login_web: ^0.2.1+1
  
  intl_phone_field: ^1.2.0
  
  connectivity: ^2.0.2
  
  provider: ^4.3.1
  
  http: ^0.12.2
  
  shared_preferences: ^0.5.12+2
  
  image_picker: ^0.6.7+4
  
  multi_image_picker: ^4.7.14

  pinput: ^0.2.4
  
  bubble_tab_indicator: ^0.1.4
  
  geolocator: ^5.3.2+2
  
  flutter_map: ^0.10.1+1
  
  flutter_image_compress:
  
  image:
  
  flutter_typeahead: ^1.8.8
  
  carousel_pro: ^1.0.0
  
  flutter_svg: ^0.19.0

  flutter_svg_provider: ^0.1.7

  # Qr 
  qr_flutter: ^3.2.0
  qr_code_scanner: ^0.0.13

  badges: ^1.1.4

  http_parser: ^3.1.4

  flutter_absolute_path: ^1.0.6

  #Permission
  permission_handler: ^5.0.1+1

  #Contact
  # contacts_service: ^0.4.6 
  fluttercontactpicker: ^3.1.0
  
  #animation
  flare_flutter:

  # App Responsive
  responsive_framework: ^0.0.14

  webscrollbar: ^0.0.2

  # Date time
  date_format: ^1.0.9
  
  # The following adds the Cupertino Icons font to your application.
  # Use with the CupertinoIcons class for iOS style icons.
  cupertino_icons: ^0.1.3

dev_dependencies:
  flutter_test:
    sdk: flutter

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:

  # The following line ensures that the Material Icons font is
  # included with your application, so that you can use the icons in
  # the material Icons class.
  uses-material-design: true

  # To add assets to your application, add an assets section, like this:
  assets:
     - images/
     - images/icons/
     - images/animation/
     - lang/

  # An image asset can refer to one or more resolution-specific "variants", see
  # https://flutter.dev/assets-and-images/#resolution-aware.

  # For details regarding adding assets from package dependencies, see
  # https://flutter.dev/assets-and-images/#from-packages

  # To add custom fonts to your application, add a fonts section here,
  # in this "flutter" section. Each entry in this list should have a
  # "family" key with the font family name, and a "fonts" key with a
  # list giving the asset and other descriptors for the font. For
  # example:
  # fonts:
  #   - family: Schyler
  #     fonts:
  #       - asset: fonts/Schyler-Regular.ttf
  #       - asset: fonts/Schyler-Italic.ttf
  #         style: italic
  #   - family: Trajan Pro
  #     fonts:
  #       - asset: fonts/TrajanPro.ttf
  #       - asset: fonts/TrajanPro_Bold.ttf
  #         weight: 700
  #
  # For details regarding fonts from package dependencies,
  # see https://flutter.dev/custom-fonts/#from-packages
