<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>996789134951-1dijvi95mjuf1p2uh2o97aivhf67qcdi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.996789134951-1dijvi95mjuf1p2uh2o97aivhf67qcdi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>996789134951-o5r8iajj3ku7ap4vs5v7e1232cp8ske8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAIAu-tptIX0f6NNQ3W203x7W1iEHBmKY</string>
	<key>GCM_SENDER_ID</key>
	<string>996789134951</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.selendra.marketplace</string>
	<key>PROJECT_ID</key>
	<string>selendra-marketplace</string>
	<key>STORAGE_BUCKET</key>
	<string>selendra-marketplace.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:996789134951:ios:a93258e261b8b770c996c2</string>
	<key>DATABASE_URL</key>
	<string>https://selendra-marketplace.firebaseio.com</string>
</dict>
</plist>